<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devwork.springtest.ajax.repository.BookMarkRepository">
    <insert id="insertBookMark" parameterType="String">
        INSERT INTO
            `bookmark`
        (
            `name`
            , `url`
        )
        VALUE
        (
            #{title}
            , #{url}
        )
    </insert>

    <select id="selectBookMarkList"
    resultType="com.devwork.springtest.ajax.domain.BookMark">
        SELECT
            `id`
            , `name`
            , `url`
        FROM
            `bookmark`
    </select>

    <select id="selectCountUrl" parameterType="String" resultType="int">
        SELECT
            COUNT(*)
        FROM
            `bookmark`
        WHERE
            `url` = #{url}
    </select>

    <delete id="deleteBookMarkById" parameterType="int">
        DELETE FROM
            `bookmark`
        WHERE
            `id` = #{id}
    </delete>
</mapper>