<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devwork.springtest.ajax.repository.PensionRepository">

    <insert id="insertBooking"
    parameterType="com.devwork.springtest.ajax.domain.Booking">
        INSERT INTO
            `booking`
        (
          `name`
        , `headcount`
        , `day`
        , `date`
        , `phone_number`
        , `state`
        )
        VALUE
        (
            #{name}
            , #{headcount}
            , #{day}
            , #{date}
            , #{phoneNumber}
            , '대기중'
        )
    </insert>

    <select id="selectBookingList"
    resultType="com.devwork.springtest.ajax.domain.Booking">
        SELECT
            `id`
            , `name`
            , `headcount`
            , `day`
            , `date`
            , `phone_number`
            , `state`
            , `created_at`
            , `updated_at`
        FROM
            `booking`

    </select>

    <select id="selectBooking"
    resultType="com.devwork.springtest.ajax.domain.Booking">
        SELECT
            `id`
             , `name`
             , `headcount`
             , `day`
             , `date`
             , `phone_number`
             , `state`
             , `created_at`
             , `updated_at`
        FROM
            `booking`
        WHERE
            `name` = #{name}
        AND
            `phone_number` = #{phoneNumber}
    </select>

    <delete id="deleteBooking" parameterType="int">
        DELETE FROM
           `booking`
        WHERE
            `id` = #{id}
    </delete>
</mapper>