<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devwork.springtest.thymeleaf.repository.ReviewRepository">
    <select id="selectReviewList"
            resultType="com.devwork.springtest.thymeleaf.domain.Review">
        SELECT
            `id`
             , `store_id`
             , `menu`
             , `user_name`
             , `point`
             , `review`
             , `created_at`
             , `updated_at`
        FROM
            `new_review`
        WHERE
            `store_id` = #{storeId}
        ORDER BY
            `id` DESC
    </select>
</mapper>