<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devwork.springtest.thymeleaf.repository.WeatherHistoryRepository">
    <select id="selectWeatherList"
    resultType="com.devwork.springtest.thymeleaf.domain.WeatherHistory">
        SELECT
            `id`
            , `date`
            , `weather`
            , `temperatures`
            , `precipitation`
            , `micro_dust`
            , `wind_speed`
            , `created_at`
            , `updated_at`
        FROM
            `weatherhistory`
        ORDER BY `date`
    </select>
    
    <insert id="insertWeather" parameterType="com.devwork.springtest.thymeleaf.domain.WeatherHistory">
        INSERT INTO
            `weatherhistory`
        (
          `date`
        , `weather`
        , `temperatures`
        , `precipitation`
        , `micro_dust`
        , `wind_speed`
        )
        VALUE
        (
            #{date}
            , #{weather}
            , #{temperatures}
            , #{precipitation}
            , #{microDust}
            , #{windSpeed}
        )
    </insert>
</mapper>