<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배탈의민족</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/test05/style.css">
</head>
<body>
    <div id="wrap" class="">
        <header class="">
            <h2 class="text-light logo p-3 bg-info">
                배탈의 민족
            </h2>
        </header>
        <section class="">
            <div class="main-content">
                <div class="title display-4">
                    우리동네 가게
                </div>
                <div class="store-list">
                    <div th:each="store : ${storeList}" class="store border border-info rounded px-2 my-2">
                        <div th:text="${store.name}" class="store-name">교촌치킨</div>
                        <div th:text="|전화번호 : ${store.businessNumber}|">전화번호 : 000-000-000</div>
                        <div th:text="|주소 : ${store.address}|">주소 : 00:00구</div>
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <footer class="">
            <div class="footer-logo">
                (주)우와한형제
            </div>
            <div class="text-secondary">
                고객센터 : 1500 - 1500
            </div>
        </footer>
    </div>
</body>
</html>