<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>예약목록</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/ajax/css/test03/style.css">
</head>
<body>
<div id="wrap" class="">
    <header class="text-center">
        <div class="display-4">통나무 팬션</div>
    </header>
    <nav class="main-menu">
        <div class="">
            <ul class="nav nav-fill font-weight-bold">
                <li class="nav-item"><a href="/pension/home" class="nav-link text-light">팬션소개</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-light">객실보기</a></li>
                <li class="nav-item"><a href="/pension/form" class="nav-link text-light">예약하기</a></li>
                <li class="nav-item"><a href="/pension/booking-list" class="nav-link text-light">예약목록</a></li>
            </ul>
        </div>
    </nav>
    <section class="contents mt-3">
        <article>
            <h2 class="text-center">예약 목록 보기</h2>

            <table class="table text-center mt-3">
                <thead>
                    <tr>
                        <th>이름</th>
                        <th>예약날짜</th>
                        <th>숙박일수</th>
                        <th>숙박인원</th>
                        <th>전화번호</th>
                        <th>예약상태</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="booking : ${bookingList}">
                        <td th:text="${booking.name}">이름 테스트</td>
                        <td th:text="${#temporals.format(booking.date, 'yyyy년 M월 d일')}">날짜 테스트</td>
                        <td th:text="${booking.day}">일수 테스트</td>
                        <td th:text="${booking.headcount}">인원 테스트</td>
                        <td th:text="${booking.phoneNumber}">번호 테스트</td>
                        <td th:switch="${booking.state}">
                            <span th:case="대기중" class="text-info">대기중</span>
                            <span th:case="확정" class="text-success">확정</span>
                            <span th:case="취소" class="text-danger">취소</span>
                            <span th:case="*" th:text="${booking.state}" class="text-light"></span>
                        </td>
                        <td><button th:data-id="${booking.id}" type="button" class="delete-btn btn btn-danger btn-sm">삭제</button></td>
                    </tr>
                </tbody>
            </table>
        </article>
    </section>
    <footer class="mt-2">
        <div class="d-flex justify-content-start text-secondary small">
            제주특별자치도 제주시 애월읍<br>
            사업자 등록번호 : 111-22-255222 / 농어촌민박사업자지정/ 대표:김동욱<br>
            Copyright 2025 tongnamu All right reseved
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(".delete-btn").on("click", function() {

        let id = $(this).data("id");

        $.ajax({
            type:"get"
            , url:"/pension/delete"
            , data:{"id" : id}
            , success:function(response) {
                if(response.result) {
                    location.reload();
                } else {
                    alert("예약 목록 삭제 오류!!");
                }
            }
            , error:function() {
                alert("서버 통신 에러!!");
            }
        });
    });
</script>

</body>
</html>