<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공인중개사 정보</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>공인중개사 정보</h2>
        <table class="table">
            <tr>
                <th>ID</th>
                <td th:text="${realtor.id}">테스트 id</td>
            </tr>
            <tr>
                <th>상호명</th>
                <td th:text="${realtor.office}">테스트 상호명</td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td th:text="${realtor.phoneNumber}">테스트 전화번호</td>
            </tr>
            <tr>
                <th>주소</th>
                <td th:text="${realtor.address}">테스트 주소</td>
            </tr>
            <tr>
                <th>등급</th>
                <td th:text="${realtor.grade}">테스트 등급</td>
            </tr>
        </table>
    </div>
</body>
</html>