<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>판매자 정보</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>판매자 정보</h2>
        <div>
            <img width="200px" height="200px" th:src="${result.profileImage}">
        </div>
        <div class="display-4" th:text="${result.nickname}">
            다팔아
        </div>
        <div class="text-warning" th:text="${result.temperature}">
            온도
        </div>
    </div>
</body>
</html>