#wrap {
    width: 600px;
    margin: 0 auto;
}

header {
    height: 100px;
}

header > .logo {

}

section {
}

.store-name {
    font-size: 30px;
}

.menu {
    background-color: gainsboro;
}

footer {
    height: 100px;
}

.footer-logo {
    font-size: 25px;
}