<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 리스트</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>즐겨찾기 목록</h2>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>주소</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bookMark : ${bookMarkList}">
                    <td th:text="${bookMark.id}">1</td>
                    <td th:text="${bookMark.name}">네이버</td>
                    <td th:text="${bookMark.url}">주소임</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>