<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>즐겨찾기 추가하기</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>즐겨 찾기 추가하기</h2>
        <label>제목</label>
        <input class="form-control" type="text" id="title">
        <label>주소</label>
        <input class="form-control" type="text" id="url">
        <button id="addBtn" class="btn btn-success btn-block mt-2">추가</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        $("#addBtn").on("click", function() {
            let title = $("#title").val();
            let url = $("#url").val();

            if(title == "") {
                alert("제목을 입력하세요");
                return;
            }

            if(url == "") {
                alert("주소를 입력하세요");
                return;
            }

            if(!url.startsWith("http://") && !url.startsWith("https://")) {
                alert("주소는 http://나 https://로 시작해야 합니다");
                return;
            }

            $.ajax({
                type:"post"
                , url: "/bookmark/add"
                , data:{
                    "title" : title
                    , "url" : url
                }
                , success:function(response) {
                    if(response.result == "success") {
                        alert("즐겨찾기 추가 완료");
                        location.href = "/bookmark/info";
                        return;
                    } else {
                        alert("즐겨찾기 추가 실패");
                        return;
                    }
                }
                , error:function() {
                    alert("서버 통신 에러");
                    return;
                }
            });

        });
    </script>
</body>
</html>