<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>날짜 포맷과 String 함수</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>회원 정보 리스트</h2>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>No</th>
                    <th>이름</th>
                    <th>생년월일</th>
                    <th>전화번호</th>
                    <th>국적</th>
                    <th>이메일</th>
                    <th>자기소개</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member, status:${members}">
                    <td th:text="${status.count}">1</td>
                    <td th:text="${member.name}">제갈량</td>
                    <td th:text="${#temporals.format(member.birth, 'yyy년 M월 d일')}">245년 5월 8일</td>
                    <td>
                        <span th:if="${#strings.startsWith(member.phoneNumber, '010')}" th:text="${member.phoneNumber}">010-7877-8877</span>
                        <span th:unless="${#strings.startsWith(member.phoneNumber, '010')}">유효하지 않은 전화번호</span>
                    </td>
                    <td th:text="${#strings.replace(member.nationality, '시대', ' -')}">삼국 - 대한</td>
                    <td>
                        <span th:text="${#strings.arraySplit(member.email, '@')[0]}" class="font-weight-bold">email</span>@<span th:text="${#strings.arraySplit(member.email, '@')[1]}"></span>
                    </td>
                    <td th:text="${#strings.abbreviate(member.introduce, 18)}"></td>
<!--                    <td>-->
<!--                        <span th:if="${#strings.length(member.introduce) >= 15}" th:text="|${#strings.substring(member.introduce, 0, 15)}...|">자기소개</span>-->
<!--                        <span th:unless="${#strings.length(member.introduce) >= 15}" th:text="${member.introduce}">자기소개</span>-->
<!--                    </td>-->
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>